@model Entidad.Vehiculo

@{
    ViewBag.Title = "Detalles vehículo";
}
<br />
<h2>Detalles del vehículo</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_Vehiculo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Vehiculo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Placa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Placa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dueño)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dueño)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_Vehiculo }) |
    @Html.ActionLink("Regresar", "Index")
</p>
