@model Entidad.Servicios

@{
    ViewBag.Title = "Detalle";
}
<br />
<h2>Detalle servicio</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_Servicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Servicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripción)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripción)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_Servicio }) |
    @Html.ActionLink("Regresar", "Index")
</p>
