@model IEnumerable<Entidad.Servicios>

@{
    ViewBag.Title = "Servicios";
}
<br />
<h2>Servicios</h2>

<p>
    @Html.ActionLink("Agregar servicio", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.ID_Servicio)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Descripción)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th style="width:200px"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.ID_Servicio)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Descripción)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monto)
        </td>
        <td class="text-right">
            <a class="btn btn-primary btn-xs" title="Editar" href="@Url.Action("Edit", "Servicios", new { id = item.ID_Servicio })">
                <i class="glyphicon glyphicon-pencil"></i>
            </a>
            <a class="btn btn-info btn-xs" title="Detalles" href="@Url.Action("Details", "Servicios", new { id = item.ID_Servicio })">
                <i class="glyphicon glyphicon-eye-open"></i>
            </a>
        </td>
    </tr>
}

</table>
